#reading{
    display: flex;
    justify-content: center;
}
.contour{
    text-align: center;
    font-size: 1.5em;
    background-size: 70vh;
    border-radius: 1vw;
    background-color: var(--color-content)
}

@media screen and (min-width: 1201px) {
    .contour{
        min-width: 30vw;
        min-height: 40vh;
        background-repeat: no-repeat;
    }
}
@media screen and (max-width: 1200px) {
    .contour{
        min-width: 50vw;
        min-height: 30vh;
    }
}



/*-----------------------------------------------------------------*/


#valueRead{
    padding-top: 4vw;
}
#In1{
    text-align: center;
    width: 10rem;
    height: 4vh;
    font-size: 3vh;
    position: relative;
    top: 5vh;
    background-color: rgb(230, 230, 230,0.5);
    border: 2px solid rgba(0, 0, 0, 0.5);   
    border-radius: 1vh;
    margin: 5vh;
}
h1{
    color: rgb(64, 102, 179);
    padding: 1em;
    font-size: 4vh;
    text-align: center;
}
.valueDisplay{
    min-height: 8vw;
}

@media screen and (min-width: 1201px) {
    #error, #count{
        position: relative;
        top: -5vh;
        width: 10vw;
        font-size: 1.5rem;
        left: 20vw;
    }
}
@media screen and (max-width: 1200px) {
    #count{
        margin-top: 1rem;
    }
    #error{
        margin-bottom: 1rem;
    }
    #count, #error{
        font-size: 1.5rem;
        left: 36vw;
    }
}