<div>
    <p style="height: 5vh;"></p>
    <h1>Kanji's list</h1>
    <div id="reading">
        

        <div class="contour">
            <br>
            <div style="position: absolute;left: 50%;transform: translateX(-50%);">    
                <p>{{ valueDisplay }}</p>
            </div>
            <br>
            <div style="position: absolute;left: 50%;transform: translateX(-50%);">
                {{ valueDisplayRep }}
            </div>

            <div>
                <input type="text" #Input1  (keydown.enter)="onKeyDownEvent(Input1.value)" id="In1" [(ngModel)]="valueWriteJ"  /> <!-- (keyup)="onKeyPress(Input1.value)" -->
            </div>
            <div id="count">
                Count : {{count}}
            </div>
            
            <div id="error">
                Error : {{error}}
            </div>
        </div>
    </div>
</div>
