<div>
    <p style="height: 5vh;"></p>
    <h1>Kanji's list</h1>
    <div id="reading">
        

        <div class="contour">
            <table>
                <thead>
                    <tr>
                        <th>Kanji</th>
                        <th>Pronunciation</th>
                        <th>Meaning</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ valueD[0] }}</td>
                        <td>{{ valueD[1] }}</td>
                        <td>{{ valueD[2] }}</td>
                    </tr>
                    <tr>
                        <td>{{ valueD[3] }}</td>
                        <td>{{ valueD[4] }}</td>
                        <td>{{ valueD[5] }}</td>
                    </tr>
                    <tr>
                        <td>{{ valueD[6] }}</td>
                        <td>{{ valueD[7] }}</td>
                        <td>{{ valueD[8] }}</td>
                    </tr>
                    <tr>
                        <td>{{ valueD[9] }}</td>
                        <td>{{ valueD[10] }}</td>
                        <td>{{ valueD[11] }}</td>
                    </tr>
                    <tr>
                        <td>{{ valueD[12] }}</td>
                        <td>{{ valueD[13] }}</td>
                        <td>{{ valueD[14] }}</td>
                    </tr>
                    <tr>
                        <td><button class="btn btn-outline-secondary" (click)="onBack()" id="btnBack">Back</button></td>
                        <td></td>
                        <td><button class="btn btn-outline-secondary" (click)="onNext()" id="btnNext">Next</button></td>
                    </tr>
                </tbody>
                
                
            </table>
            
        </div>
    </div>
</div>
