#reading{
    display: grid;
    justify-content: center;
}
.contour{
    margin-bottom: 1em;
    padding: 1rem;
    text-align: center;
    font-size: 1.5em;
    background-size: 70vh;
    border-radius: 1vw;
    background-color: var(--color-content)
}

@media screen and (min-width: 1201px) {
    .contour{
        min-width: 30vw;
        min-height: 40vh;
        background-repeat: no-repeat;
    }
}
@media screen and (max-width: 1200px) {
    .contour{
        min-width: 50vw;
        min-height: 30vh;
    }
}



/*-----------------------------------------------------------------*/



h1{
    color: rgb(64, 102, 179);
    padding: 1em;
    font-size: 2.5rem;
    text-align: center;
}

.interieurs{
    display: grid;
    justify-content: center;
    max-width: 75vw;
    font-size:  1.25rem;
}
.interieurs h1{
    color: rgb(25, 42, 75);
    padding: 0.25em;
    font-size: 1.5rem;
    text-align: center;
}

.interieur{
    border: 2px rgba(0, 0, 0, 0.5) solid;
    border-radius: 0.5em;
    padding: 0.25em;
}
.paves{
    padding: 1rem;
}
.listeExemple{
    display: grid;
    grid-template-columns: 60% 40%;
    justify-content: center;
}
.alphabet{
    font-size:  1rem;
}
rt{
    font-size: 0.75rem;
}
@media screen and (min-width: 901px) {
    .interieurs{
        grid-template-columns: 35vw 35vw;
        grid-gap: 1rem;
    }
}
@media screen and (max-width: 900px) {
    .interieurs{
        grid-template-columns: 70vw;
        grid-gap: 1rem;
    }
}


