<div>
    <div>
        <p style="height: 5vh;"></p>
        <h1>Cours</h1>
        <div id="reading">
            <div class="contour">
                <h1>Compteur</h1>
                <div class="interieurs">
                    <div class="interieur">
                        <div class="listeExemple">
                        <div>
                            <h1>tsu</h1>
                        
                            <p>C'est un compteur génerique seulement de 1 à 9 après il faut utiliser "ko".</p>
                            <p>Il se pronomce un peu differement par rapport au autre compteur.</p>
                        </div>
                        <div class="alphabet">
                            <p><ruby>一<rt>ひと</rt></ruby>つ</p>
                            <p><ruby>二<rt>ふた</rt></ruby>つ</p>
                            <p><ruby>三<rt>みっ</rt></ruby>つ</p>
                            <p><ruby>四<rt>よっ</rt></ruby>つ</p>
                            <p><ruby>五<rt>いつ</rt></ruby>つ</p>
                            <p><ruby>六<rt>むっ</rt></ruby>つ</p>
                            <p><ruby>七<rt>なな</rt></ruby>つ</p>
                            <p><ruby>八<rt>やっ</rt></ruby>つ</p>
                            <p><ruby>九<rt>ここの</rt></ruby>つ</p>
                        </div>
                        </div>
                    </div>
                    <div class="interieur">
                        <div class="listeExemple">
                            <div>
                                <h1>ko</h1>
                                <p>C'est un compteur qui quantifie les objets normaux.</p>
                                <p>La pronomciation est plus normal (1 - いち).</p>
                            </div>
                            <div class="alphabet">
                                <p>一個</p>
                                <p>二個</p>
                                <p>三個</p>
                                <p>四個</p>
                                <p>五個</p>
                                <p>六個</p>
                                <p>七個</p>
                                <p>八個</p>
                                <p>九個</p>
                                <p>十個</p>
                            </div>
                        </div>
                    </div>
                    <div class="interieur">
                        <div class="listeExemple">
                            <div>
                                <h1>mai</h1>
                                <p>C'est un compteur qui quantifie les objets fin (feuille, etc ...).</p>
                                <p>La pronomciation est normal.</p>
                            </div>
                            <div class="alphabet">
                                <p>一枚</p>
                                <p>二枚</p>
                                <p>三枚</p>
                                <p>四枚</p>
                                <p>五枚</p>
                                <p>六枚</p>
                                <p>七枚</p>
                                <p>八枚</p>
                                <p>九枚</p>
                                <p>十枚</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contour">
                <h1>Language</h1>
                <div class="interieurs">
                    <div>
                        <h1>hirigana</h1>
                        <p class="paves">C'est l'alphabet le plus utilisé celui qui est appris en premier, il peut être utilisé dans les terminaisons pour la négation, conjugaison ou encore pour certains mots Japonais.</p>
                    </div>
                    <div>
                        <h1>katakana</h1>
                        <p class="paves">C'est l'alphabet utilisé pour introduire des mots ou prénom d'origine étrangère.
                        </p>
                    </div>
                </div>
            </div>
            <div class="contour">
                <h1>Sujet</h1>
                <div class="interieurs">
                    <div>
                        <h1>You</h1>
                        <li>あなた</li>
                        <li>あんた</li>
                        <li>お<ruby>前<rt>まえ</rt></ruby>  </li>
                        <li><ruby>君<rt>きみ</rt></ruby></li>
                        <p class="paves">C'est l'alphabet le plus utilisé celui qui est appris en premier, il peut être utilisé dans les terminaisons pour la négation, conjugaison ou encore pour certains mots Japonais.</p>
                    </div>
                    <div>
                        <h1>katakana</h1>
                        <p class="paves">C'est l'alphabet utilisé pour introduire des mots ou prénom d'origine étrangère.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>