<div>
    <div></div>
    <div>
        <p style="height: 5vh;"></p>
        <h1>Hirigana's list</h1>
        <div id="reading">
            <div class="contour">
                <div id="valueRead">    
                    <p>{{ valueDisplay }}</p>
                </div>
                <div>
                    <input type="text" #Input1 (keyup)="onKeyPress(Input1.value)" id="In1" [(ngModel)]="valueWrite"/>
                </div>
                <div id="count">
                    Count : {{count}}
                </div>
                <div id="error">
                    Error : {{error}}
                </div>
            </div>
        </div>
    </div>
    <div></div>
</div>