*{
    margin: 0;
    padding: 0;

    
}
#reading{
    display: flex;
    justify-content: center;
}
h1{
    color: rgb(64, 102, 179);
    padding: 1em;
    font-size: 4vh;
    text-align: center;
}
.contour{
    /* border: solid 0.4vh black; */
    text-align: center;
    min-width: 30vw;
    min-height: 50vh;
    font-size: 2.5em;
    background-image: url(../../assets/img.webp);
    background-size: 70vh;
    border-radius: 1vw;
}
#In1{
    text-align: center;
    width: 10vw;
    height: 4vh;
    font-size: 3vh;
    position: relative;
    top: 30vh;
    background-color: rgb(230, 230, 230,0.5);
    border: 2px solid rgba(0, 0, 0, 0.5);   
    border-radius: 1vh;
}
#count{
    font-size: 3vh;
    /* border: 1px solid black; */
    position: relative;
    top: 25vh;
    left: 20vw;
    width: 10vw;
}
#error{
    font-size: 3vh;
    /* border: 1px solid black; */
    position: relative;
    top: 25vh;
    left: 20vw;
    width: 10vw;
}